#about,
#skills {
	h3 {
		font-weight: 900;
		margin: 0 0 8px 0;
		font-size: 4rem;
	}
	p {
		margin: 0;
		padding: 8px 0;
		font-size: 2rem;
		line-height: 1.4;
		font-weight: 300;
		@media (min-width: 700px) {
			font-size: 3rem;
			line-height: 1.6;
		}
	}
	a {
		color: white;
		font-weight: 600;
	}
}
