.app-info {
    min-height: 75vh;
    padding: 40px 0 70px;
    h1 {
        margin: 0 0 0.67em;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .screenshot {
        flex: 1 1 500px;
        position: relative;
        img {
            width: 100%;
            display: block;
            height: auto;
        }
        .gradient {
            background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, 1.0) 100%);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0px;
        }
    }
    .text {
        flex: 1 0 100%;
    }
    .app-info__tech {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}