.bio {
    margin-top: 88px;
}

.bio__content {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    .bio__image {
        flex: 1 1 35%;
    }

    .bio__jumbo {
        flex: 1 1 65%;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        h2 {
            font-size: 90px;
            line-height: 1;
            margin: 0;
        }
    }
}

.bio__image img {
    width: 100%;
}