.content-container {
	margin: 0 auto;
	padding: 0 $m-size;
	width: 1200px;
	max-width: 95%;
	@media (min-width: 600px) {
		max-width: 90%;
	}
}

.section {
	width: 100%;
	padding: 64px 0px;
	margin: 0px;
	h3 {
		font-size: 3rem;
		margin: 0 0 8px 0;
	}
}

.section__secondary {
	background: $secondary;
	color: white;
}