.content-container {
	margin: 0 auto;
	padding: 0 $m-size;
	width: 1200px;
	max-width: 95%;
	@media (min-width: 600px) {
		max-width: 90%;
	}
}

.content-container-fluid {
	margin: 0;
	padding: 0 $l-size;
	width: 100%;
}

.section {
	width: 100%;
	padding: 64px 104px;
	margin: 0px;
}

.section__secondary {
	background: $secondary;
	color: white;
}