.footer {
    height: 130px;
    background: $main;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__icons > a {
    margin: 0px 8px;
    font-size: 2.5rem;
    color: white;
}

.footer__copyright p {
    margin: 10px 0 0;
    letter-spacing: 1.5px;
}