.navbar {
  background: $main;
  .content-container-fluid {
    padding: 0 8px;
    @media (min-width: 450px) {
      padding: 0 3.2rem;
    }
  }
}

.navbar__content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.navbar-brand {
  width: 304px;
}

.navbar__title {
  align-items: center;
  color: white;
  display: flex;
  text-decoration: none;
  h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.4;
  }
  img {
    max-height: 56px;
    max-width: 56px;
    margin-right: 4px;
  }
}

.navbar-links .links {
  display: flex;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 16px;
    transition: .3s ease;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
}

.mobile-navbar-links {
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  overflow-y: hidden;
  &.collapsed {
    height: 0;
  }
  &.expanded {
    height: 288px;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 16px;
    transition: 0.3s ease;
    text-align: center;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
}

.navbar .icon {
  display: none;
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  svg {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .navbar-links a {display: none;}
  .navbar .icon {
    display: block;
  }
}

@media screen and (min-width: 801px) {
  .mobile-navbar-links {
    display: none;
  }
}