.navbar {
  background: $main;
}

.navbar__content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.navbar__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 1.4;
  }
}

.navbar-links .links {
  display: flex;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 16px;
    transition: .3s ease;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
}

.mobile-navbar-links {
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
  a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 16px;
    transition: .3s ease;
    text-align: center;
    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
}

.navbar .icon {
  display: none;
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  svg {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .navbar-links a {display: none;}
  .navbar .icon {
    display: block;
  }
}

@media screen and (min-width: 801px) {
  .mobile-navbar-links {
    display: none;
  }
}


//   .navbar-links.responsive a {
//     float: none;
//     display: block;
//     text-align: center;
//   }
//   .navbar-links.responsive {
//     flex-direction: column;
//   }
// }