.not-found-page {
    *, *:before, *:after {
        position: relative;
    }
    
    * {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    a {
        color: white;
    }
    h1 {
        color: white;
        font-size: 14rem; 
        text-shadow: .03em .03em 0 #4d5eb3;
        line-height: 1;
        position: relative

        a {
            color: white;
            text-decoration: none;
        }
        @media (min-width: 600px) {
            font-size: 18rem;
        }
        @media (min-width: 900px) {
            font-size: 20rem;
        }
    }
    h1:after {
        content: attr(data-shadow);
        position: absolute;
        top: .06em; left: .06em;
        z-index: -1;
        text-shadow: none;
        background-image: linear-gradient(45deg, transparent 45%, #EAE8E0 45%, #EAE8E0 55%, transparent 0);
        background-size: .05em .05em;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shad-anim 15s linear infinite;
    }
}
  
.backdrop {
    background: #4D5EB3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
}

@keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
}