.app-info {
  .content-container {
    width: 1200px;
  }
  min-height: calc(100vh - 510px);
  padding: 40px 0 72px;
  h1 {
    margin: 0 0 16px;
    @media (min-width: 600px) {
      font-size: 4.8rem;
    }
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    @media (min-width: 1100px) {
      gap: 32px;
    }
  }

  .screenshot {
    height: 100%;
    flex: 1 1 500px;
    max-width: 700px;
    align-self: flex-start;
    overflow-y: hidden;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .gradient {
      background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 59%,
        rgba(255, 255, 255, 0.9) 100%
      );
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .text {
    flex: 1 1 500px;
    padding: 40px 0 0;
    color: $dark-grey;
    font-size: 20px;
    p {
      margin: 16px 0;
    }
    @media (min-width: 1100px) {
      padding-top: 24px;
    }
    .buttons .card__links__button {
      margin-right: 16px;
    }
  }
  #tech-p {
    margin-bottom: 0;
  }
  .app-info__technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
