@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;

  $multiplier: 1;
  $current-width: 0px;

  @while $current-width < $max-viewport-width {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;

    @media (min-width: $flex-basis * $multiplier) {
      max-width: percentage(1 / $multiplier);
    }
  }
}

.card-list {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card,
.card .image {
  cursor: pointer;
  @include flex-wrap-fix(300px);
  position: relative;
  &:hover .overlay {
    opacity: 1;
  }
  @media (min-width: 800px) {
    @include flex-wrap-fix(400px);
  }
  img {
    width: 100%;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 36px;
    margin: 0 32px 16px;
    text-align: center;
    line-height: 1;
  }
  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    .block {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      display: block;
    }
  }
}

a.card__links__button {
  cursor: pointer;
  margin: 8px auto;
  width: 100%;
  font-size: 20px;
  padding: 4px 16px;
  border-radius: 40px;
  text-decoration: none;
  &:hover {
    transition: 0.3s ease;
  }
  @media (min-width: 800px) {
    padding: 4px 24px;
  }
}
