#contact {
  h3 {
    font-weight: 900;
    font-size: 4rem;
    margin: 0 0 48px 0;
  }
  .content-container {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
    .footer__icons {
      display: flex;
      &:hover a {
        opacity: 0.7;
        filter: blur(3px);
      }
      a {
        padding: 0px 8px;
        font-size: 3.2rem;
        color: white;
        transition: 0.5s ease;
        &:hover {
          opacity: 1;
          filter: blur(0);
        }
      }
    }
    .footer__copyright p {
      margin: 24px 0 0;
      letter-spacing: 1.5px;
    }
  }
}
