.navbar {
  background: $blue;
  .navbar__content.content-container-fluid {
    padding: 0 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 1.2rem 8px;
    @media (min-width: 450px) {
      padding-left: 3.2rem;
      padding-right: 3.2rem;
    }
  }
}

.navbar__title {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 230px;
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
    font-size: 2.7rem;
    line-height: 1.4;
  }
  img {
    max-height: 56px;
    max-width: 56px;
  }
}

.navbar .navbar__menu {
  background: none;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  svg {
    font-size: 40px;
  }
}

.navbar-links {
  height: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  overflow-y: hidden;
  transition: 0.4s ease;
  &.expanded {
    height: 288px;
    visibility: visible;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 16px;
    text-align: center;
    transition: 0.3s ease;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

// hide navbar__menu toggle, make nav links a row
@media screen and (min-width: 801px) {
  .navbar .navbar__menu {
    display: none;
  }

  .navbar-links,
  .navbar-links.expanded {
    visibility: visible;
    height: unset;
    flex-basis: unset;
    flex-direction: row;
    align-items: center;
  }
}
