.nextOrPrev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 48px auto 0;
  max-width: 100%;
  width: 360px;
  @media (min-width: 1100px) {
    gap: 32px;
  }
  .prev span {
    padding-right: 12px;
  }
  .next span {
    padding-left: 12px;
  }
  a.prev,
  a.next {
    flex: 1;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0px;
    border-radius: 40px;
    color: $green;
    border: 2px solid $green;
    transition: 0.2s ease;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      color: white;
      background: $green;
      box-shadow: 0px 8px 15px rgba($green, 0.4);
    }
    svg {
      font-size: 30px;
    }
  }
}
