// Colors
$dark-grey: rgb(21, 17, 12);
$main: rgb(19, 50, 83);
$off-white: #f7f7f7;
$secondary: rgb(19, 50, 83);
$green: rgb(85,135,81);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
